body{
  background-color: #1f2937;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
 }

 .topline{
  color:#1f2937;
  background-color: white;
  padding:50px;
  font-weight: 900;
  border-radius: 10px;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
 }
 
 .dates{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
 }

 .seperate{
color:#1f2937;
  background-color: white;
  padding:30px;
  font-weight: 900;
  border-radius: 10px;
    margin:20px;
 }